body {
    padding: 0;
    font-family: Verdana, sans-serif;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 0.9em;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

layout > * {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

layout {
    position: absolute;
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    height: 55px;
    background-image: -o-linear-gradient(bottom, #ddd 0%, #aaa 95%, #444 98%);
    background-image: -moz-linear-gradient(bottom, #ddd 0%, #aaa 95%, #444 98%);
    background-image: -webkit-linear-gradient(bottom, #ddd 0%, #aaa 95%, #444 98%);
    background-image: -ms-linear-gradient(bottom, #ddd 0%, #aaa 95%, #444 98%);
    background-image: linear-gradient(to bottom, #ddd 0%, #aaa 95%, #444 98%);
    top: 0;
    z-index: 1000;
    padding: 10px;
}

h1 {
    font-size: 1.5em;
    padding: 0;
    margin: 3px;
}

h3 {
    margin-top: 0;
    margin-left: 5px;
    text-shadow: 0px 0px 4px black;
}

.show-button {
    display: none;
}

footer {
    position: absolute;
    right: 0;
    height: 55px;
    bottom: 0;
    background: #ddd;
    opacity: 0.8;
    display: none;
}

aside.left {
    display: none;
    left: 10px;
    width: 250px;
    background: rgba(3,3,3, 0.7);
    border: 3px solid #111;
    border-radius: 7px;
    position: absolute;
    bottom: 10px;
    padding: 15px;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    max-height: 300px;
    overflow: auto;
}

aside.left:hover {
    background: rgba(3,3,3,0.9);
}

.objects {
    display: table;
    border-collapse: separate;
    width: 200px;
}


.itemIcon {
    display: table-cell;
    width: 20%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}


.itemInfo {
    display: table-cell;
    vertical-align: top;
    width: 80%;
    padding-right: 40px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

li.item {
    display: table-row;
    color: #eee;
    border-radius: 5px;

}

    li.item:hover {
        background: rgba(0,0,0,0.8);
        cursor: pointer;
    }

main {
    /* background: transparent;*/
    position: absolute;
    left: 0;
    bottom: 0px;
    top: 55px;
    right: 0;
}

aside.right {
    display: none;
    position: absolute;
    top: 55px;
    bottom: 55px;
    right: 0;
    width: 150px;
    background: #333;
    color: #fff;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.9);
    z-index: 1001;
    transition: display 1s;
}

.login-form {
    position: absolute;
    width: 260px;
    height: 150px;
    background: #333;
    border-radius: 10px;
    margin-left: -130px;
    margin-top: -75px;
    top: 50%;
    left: 50%;
    padding: 10px;
    box-shadow: #fff 0px 0px 10px;
}

    .login-form > div {
        box-sizing: border-box;
        width: 226px;
        margin: 13px auto;
    }

input[type="text"],
input[type="password"] {
    display: block;
    border-radius: 5px;
    width: 220px;
    height: 25px;
    background: #ddd;
}

input:focus {
    box-shadow: #fff 0px 0px 7px;
}

input[type="button"] {
    width: 226px;
    height: 30px;
    border-radius: 5px;
}

.logined {
    position: absolute;
    font-size: 0.8em;
    right: 0;
    top: 5px;
    margin-right: 10px;
}

    .logined a {
        display: block;
        padding: 4px;
        background: rgba(2,2,2,0.7);
        border-radius: 3px;
        color: #eee;
        text-decoration: none;
        margin-top: 5px;
        transition: all 0.3s;
    }

    .logined a:hover {
        background: rgba(2,2,2,1);
        box-shadow: #fff 0px 0px 4px;
    }

.objectName {
    font-weight: 600;
    font-style: italic;
}

.coord {
    font-size: 0.8em;
}

.timeStr {
    font-size: 0.85em;
}

    .timeStr:after {
        content: '';
        display: block;
        height: 10px;
    }

.itemIcon:before,
.objectName:before {
    content: '';
    display: block;
    height: 10px;
}

.logout-button:after {
    display: block;
    content: '';
    clear: both;
}

.full-screen {
    width: 100%;
    height: 100%;
}

@media all and (max-width: 480px) {
    header,
    footer {
        position: fixed;
        height: 55px;
    }

    header {
        top: 0;
        left: 0;
        z-index: 100;
    }

    footer {
        display: none;
        bottom: 0;
        left: 0;
    }

    aside.left {
        /*width: 100%;*/
        height: 300px;
        overflow: auto;
        left: 55px;
        bottom: 10px;
        display: none;
        z-index: 1001;
    }



    aside.right {
        width: 100%;
        bottom: 55px;
        height: 40%;
        top: auto;
        display: none;
    }

    main {
        position: absolute;
        top: 55px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .show-button {
        display: block;
        color: white;
        text-align: center;
        padding-top: 3px;
        width: 25px;
        height: 25px;
        border: 8px solid #333;
        border-radius: 8px;
        background: #555;
        opacity: 0.8;
        position: fixed;
        bottom: 10px;
        left: 10px;
        cursor: default;
    }

        .show-button:after {
            content: '';
            display: block;
            clear: both;
        }

        .show-button:hover {
            background: #111;
        }


    .login-form {
        position: fixed;
    }

    .itemIcon {
        border-bottom: none;
    }


    .itemInfo {
        border-bottom: none;
    }
}
